:host {
  width: calc(100% - 400px);
  position: absolute;
  bottom: 0;
  left: 400px;
  z-index: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  input.message-box {
    width: 88%;
    height: 38px;
    background-color: white;
    border-radius: 15px;
    outline: none;
    border: none;
    padding: 0 20px 0 20px;
    color: #362843;
    font-weight: bold;
  }

  i {
    cursor: pointer;
    position: absolute;
    right: 58px;
    transform: translateZ(0);
    height: 31px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



