<div class="user-photo-section">
    <div class="user-overlay">
    </div>
    <input #profPic
           accept="image/jpeg, image/png"
           class="upload-profile-photo"
           type="file"
           (change)="processImageFile(profPic)">
    <img
         [ngClass]="{'resize-img':profileImageResize }"
         [src]="imageSource$ | async"
         id="profile_pic"
         alt="{{(imageSource$ | async) === null ? '' : 'profile image'}}">
    <div *ngIf="!(imageSource$ | async)" class="overlay-content">
        <p>Profile picture</p>
        <i class="fas fa-images"></i>
    </div>
    <i class="fas fa-user-circle"></i>
</div>
