
/* Base text colors, transitions and background gradients */
$base-text-color: #454c5d;
$orange-gradient: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
$confirmation-color: #27b1a4;
$default-transition: all .1s linear;
$input-text-color: #ff7241;


/* Form Validation classes */

.hide-input-validation {
  display: none;
}

.slide-in-password {
  transform: translateZ(0) translateX(0) !important;
}

/* mixins */

@mixin for-small-height {
  @media (max-height: 599px) { @content; }
}
