<section [ngClass]="{'slide-in': slideIn}">
    <div class="profile-header">
        <div class="profile-header-content">
            <i class="fas fa-long-arrow-alt-left" (click)="slideOut()"></i>
            <p>Profile</p>
        </div>
    </div>
    <div class="profile-body">
        <div class="user-photo-section">
            <div class="user-overlay">
            </div>
            <div class="overlay-content">
                <p>Profile picture</p>
                <i class="fas fa-images"></i>
            </div>
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="user-custom-cols">
            <div class="name-col profile-cols">
                <p>Your Name</p>
                <input type="text">
            </div>
            <div class="status-col profile-cols">
                <p>Your Status</p>
                <input type="text">
            </div>
        </div>
    </div>
</section>
