@import '../../shared/general-style/general-style.scss';

section {
  width: 400px;
  position: absolute;
  transform: translateZ(0) translateX(-400px);
  top: 0;
  height: 100vh;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.1s;
  z-index: 1;

  &.slide-in {
    left: 0;
    transform: translateZ(0) translateX(0);
    overflow: hidden;
  }

  .profile-header {
    display: flex;
    align-items: flex-end;
    background-color: $base-text-color;
    height: 100px;
    width: 100%;

    .profile-header-content {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 10px;
      position: relative;

      i {
        cursor: pointer;
        position: absolute;
        left: 14px;
        font-size: 27px;
        background-image: $orange-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        margin: 0 auto 0 auto;
        color: white;
        font-size: 20px;
      }
    }
  }

  .profile-body {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

