section {
  width: 400px;
  position: absolute;
  left: -400px;
  top: 0;
  height: 100vh;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.1s;
  transform: translateZ(0);

  &.slide-in {
    left: 0
  }

    .profile-header {
      display:flex;
      align-items: flex-end;
      background-color: #454c5d;
      height: 100px;
      width: 100%;

      .profile-header-content {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 10px;
        position: relative;

        i {
          cursor: pointer;
          color: white;
          position: absolute;
          left: 14px;
          font-size: 40px;
          background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        p {
          margin: 0 auto 0 auto;
          color: white;
          font-size: 20px;
        }
      }
    }

    .profile-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .user-photo-section {
        cursor: pointer;
        width: 100%;
        display: flex;
        margin: 50px 0 50px 0;
        align-items: center;
        justify-content: center;

        .user-overlay {
          height: 147px;
          width: 146px;
          opacity: 0.8;
          background-color: #454c5d;
          position: absolute;
          margin-top: 2px;
          border-radius: 58%;
        }

        .overlay-content {
          position: absolute;
          text-align: center;

          p {
            color: white;
            margin: 0;
          }

          i {
            font-size: 35px;
          }
        }

        i {
          font-size: 150px;
          background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }


      .user-custom-cols {
        width: 100%;

        form {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          .mat-form-field {
            display: block;
            width: 100%;
          }

          .profile-cols {
          padding: 20px;

            &:last-of-type {
              margin-top: 40px;
            }
          }
        }
      }
    }
}

