<section [ngClass]="{'slide-in': slideIn}">
    <div class="profile-header">
        <div class="profile-header-content">
            <i class="far fa-arrow-alt-circle-left" (click)="slideOut()"></i>
            <p>Profile</p>
        </div>
    </div>
    <div class="profile-body">
        <div class="user-photo-section">
            <div class="user-overlay">
            </div>
            <input class="upload-profile-photo" type="file" accept="image/*">
            <div class="overlay-content">
                <p>Profile picture</p>
                <i class="fas fa-images"></i>
            </div>
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="user-input-cols">
            <form [formGroup]="nameForm" (ngSubmit)="onSubmitUserName()">
                <div *ngIf="!editUserNameClicked" class="field-overlay"></div>
                <small class="description-label">Name</small>
                <mat-form-field floatLabel="never" class="md-no-float">
                    <mat-label>Your Name</mat-label>
                    <input #userInput id="user_name" matInput formControlName="user_name" type="text" tabindex="-1">
                    <small [class.hide-input-validation]="hideError">
                        Maximum 35 chars allowed
                    </small>
                    <small *ngIf="
                    hideUsernameCheck &&
                    presentUsername === (userNameTracker$ | async) &&
                    presentUsername.length !== 0">
                        Make sure to use a different username!
                    </small>
                    <small [class.show-update-user]="showUpdatedName">
                        Updated!
                    </small>
                </mat-form-field>
                <button type="submit" [disabled]="
                presentUsername === (userNameTracker$ | async) ||
                (userNameTracker$| async).length < 1 ||
                (userNameTracker$ | async)=== undefined">
                    <i *ngIf="editUserNameClicked" class="fas fa-check-circle"></i>
                </button>
                <i *ngIf="!editUserNameClicked" (click)=activateUserInput() class="fas fa-user-edit"></i>
            </form>
            <form [formGroup]="statusForm" (ngSubmit)="onSubmitStatus()">
                <div *ngIf="!editStatusClicked" class="field-overlay"></div>
                <mat-form-field floatLabel="never">
                    <small class="description-label">Status</small>
                    <mat-label>Your status</mat-label>
                    <input #statusInput id="status" matInput formControlName="status" type="text" tabindex="-1">
                    <small *ngIf="
                    hideStatusCheck &&
                    presentStatus === (statusTracker$ | async) &&
                    presentStatus.length !== 0">
                        Make sure to use a different status!
                    </small>
                    <small [class.show-update-user]="showUpdatedStatus">
                        Updated!
                    </small>
                </mat-form-field>
                <button type="submit" [disabled]="
                presentStatus === (statusTracker$ | async) ||
                (statusTracker$| async).length < 1 ||
                (statusTracker$ | async)=== undefined">
                    <i *ngIf="editStatusClicked" class="fas fa-check-circle"></i>
                </button>
                <i *ngIf="!editStatusClicked" (click)=activateStatusInput() class="fas fa-user-edit"></i>
            </form>
        </div>
    </div>
</section>
