<section [ngClass]="{'slide-in': slideIn}">
    <div class="profile-header">
        <div class="profile-header-content">
            <i class="far fa-arrow-alt-circle-left" (click)="slideOut()"></i>
            <p>Profile</p>
        </div>
    </div>
    <div class="profile-body">
        <div class="user-photo-section">
            <div class="user-overlay">
            </div>
            <div class="overlay-content">
                <p>Profile picture</p>
                <i class="fas fa-images"></i>
            </div>
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="user-custom-cols">
            <form [formGroup]="nameForm" (ngSubmit)="onSubmitUserName()">
                <div *ngIf="!editUserNameClicked" class="field-overlay"></div>
                <small class="description-label">Your Name</small>
                <mat-form-field floatLabel="never" class="md-no-float">
                    <mat-label>Your Name</mat-label>
                    <input #userInput id="user_name" matInput formControlName="user_name" type="text">
                    <mat-placeholder>Your Name</mat-placeholder>
                    <small [class.hide-input-validation]="hideError">
                        Maximum 35 chars allowed
                    </small>
                    <small *ngIf="
                    hideDuplicateCheck &&
                    presentUsername === (userNameTracker$ | async) &&
                    presentUsername.length !== 0">
                        Make sure to use a different username!
                    </small>
                    <small [class.show-update-user]="showUpdatedSuccess">
                        Updated!
                    </small>
                </mat-form-field>
                <button type="submit" [disabled]="
                presentUsername === (userNameTracker$ | async) ||
                (userNameTracker$| async).length < 1 ||
                (userNameTracker$ | async)=== undefined">
                    <i *ngIf="editUserNameClicked" class="fas fa-check-circle"></i>
                </button>
                <i *ngIf="!editUserNameClicked" (click)=activateUserInput() class="fas fa-user-edit"></i>
            </form>
            <form action="" [formGroup]="statusForm">
                <mat-form-field>
                    <mat-label>Your status</mat-label>
                    <input id="status" matInput type="text" formControlName="status" type="text">
                    <mat-placeholder>Something here</mat-placeholder>
                </mat-form-field>
                <button type="submit">
                    <i class="fas fa-check-circle"></i>
                </button>
            </form>
        </div>
    </div>
</section>
