<div class="signup-form-wrapper">
  <div class="signup-form-body" [ngClass]="{'move-sign-up-form':formMoveInitiated}">
    <h2>Sign up</h2>
    <form [formGroup] = signUpForm (ngSubmit)="onSubmitSignUp()">
      <label for="email_sign_up"></label>
      <input required id="email_sign_up" formControlName="email" placeholder="Email" type="email">
      <small [class.hide-input-validation]="(signUpEmail.valid || signUpEmail.untouched) && signUpChecker.email">
        Email is not valid
      </small>
      <label for="password_sign_up"></label>
      <input required id="password_sign_up" formControlName="password" placeholder="Password" type="password">
      <small [class.hide-input-validation]="signUpPassword.valid || (signUpPassword.invalid && signUpPassword.pristine)">
        Password is too short (Min 9 chars)
      </small>
      <button [disabled]="
      (isUserSignedUp | async) === true ||
      signUpEmail.invalid ||
      signUpPassword.invalid" type="submit">Sign up</button>
      <span *ngIf="(loaderSub | async) === false" class="loader"></span>
    </form>
  </div>
</div>
<div class="notification-messages signup-messages">
  <p *ngIf="(isUserSignedUp | async) === true">Thank you for joining us!<br> All you have to do now is log in on the left side.</p>
  <p class="submission-error" *ngIf="(isUserSignedUp | async) !== true">{{ isUserSignedUp | async }}</p>
</div>
