<div class="signup-form-wrapper">
  <div class="signup-form-body" [ngClass]="{'move-sign-up-form':formMoveInitiated}">
    <h2>Sign up</h2>
    <form [formGroup] = signUpForm (ngSubmit)="onSubmitSignUp()">
      <label for="name"></label>
      <input required id="name" formControlName="name" placeholder="Name" type="text">
      <small [class.hide-input-validation]="(signUpName.valid || signUpName.untouched) && signUpChecker.name">
        Please enter a name
      </small>
      <label for="email_sign_up"></label>
      <input required id="email_sign_up" formControlName="email" placeholder="Email" type="email">
      <small [class.hide-input-validation]="(signUpEmail.valid || signUpEmail.untouched) && signUpChecker.email">
        Email is not valid
      </small>
      <label for="password_sign_up"></label>
      <input required id="password_sign_up" formControlName="password" placeholder="Password" type="password">
      <small [class.hide-input-validation]="(signUpPassword.valid || signUpPassword.untouched) && signUpChecker.password">
        Password is too short (Min 9 chars)
      </small>
      <button [disabled]="signUpSubmitted" type="submit">Sign up</button>
    </form>
  </div>
</div>
