.form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-body {
    position: relative;
    display: flex;
    width: 700px;
    height: 400px;
    -webkit-box-shadow: -18px 19px 30px -11px rgba(0,0,0,0.61);
    -moz-box-shadow: -18px 19px 30px -11px rgba(0,0,0,0.61);
    box-shadow: -18px 19px 30px -11px rgba(0,0,0,0.61);
    border-radius: 10px;
    overflow: hidden;

    app-login-form,
    app-signup-form {
      width: 50%;
    }
  }
}
