<div class="login-form-wrapper">
  <div class="login-form-body" [ngClass]="{'move-log-in-form':formMoveInitiated}">
    <h2>Log in</h2>
    <form [formGroup] = loginForm (ngSubmit)="onSubmitLogin()">
      <label for="email"></label>
      <input required id="email" formControlName="email" placeholder="Email" type="email">
      <small [class.hide-input-validation]="(loginEmail.valid || loginEmail.untouched) && loginChecker.email">
        Email is not valid
      </small>
      <label for="password"></label>
      <input required id="password" formControlName="password" placeholder="Password" type="password">
      <small [class.hide-input-validation]="(loginPassword.valid || loginPassword.untouched) && loginChecker.password">
        Password is too short (Min 9 chars)
      </small>
      <button [disabled]="
      (isUserSignedIn | async) === true ||
      loginEmail.invalid ||
      loginPassword.invalid" type="submit">Log in</button>
      <span *ngIf="(loaderSub | async) === false" class="loader"></span>
    </form>
  </div>
</div>
<div class="notification-messages login-messages">
  <p *ngIf="(isUserSignedIn | async) === true">Welcome!</p>
  <p class="submission-error" *ngIf="(isUserSignedIn | async) !== true">{{ isUserSignedIn | async }}</p>
</div>
