<section class="control-panel">
    <div class="profile-section">
        <div class="profile-content-wrapper">
            <i class="fas fa-user-circle" (click)=showProfileSection(true)></i>
            <i class="fas fa-cogs" (click)=showSettingsMenu()></i>
        </div>
        <app-profile-settings
                (profileEmitter)="showProfileSection($event)"
                [displayMenu]="showMenu"
        ></app-profile-settings>
    </div>
    <app-profile-slide
            [slideIn]="setSlidingState()"
            (slideOutEmitter)="showProfileSection($event)"
    ></app-profile-slide>
</section>
<app-send-data-bar></app-send-data-bar>
<small class="favicon-text">Favicon provided by <a target="_blank" href="https://icons8.com">icons8.com</a> </small>
<div class="bottom-separator"></div>
