@import '../../../shared/general-style/general-style';

:host {
  width: 100%;

  .user-input-cols {
    width: 100%;

    form {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;

      &:not(:first-of-type) {
        margin-top: 50px;

        @include for-small-height {
          margin-top: 21px;
        }
      }

      .field-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      button {
        position: absolute;
        z-index: 2;
        border: none;
        right: 15px;
        top: 20px;
        background: transparent;
        cursor: pointer;
        transition: $default-transition;

        &:disabled {
          i {
            color: grey;
            cursor: default;
          }
        }

        &:focus {
          outline: none;
        }

        i {
          font-size: 18px;
          background: $orange-gradient;
          background: transparent;
          color: $base-text-color;
        }
      }

      i.fa-user-edit {
        position: absolute;
        right: 17px;
        top: 21px;
        cursor: pointer;
        z-index: 3;
        transition: $default-transition
      }

      .mat-form-field {

        small {

          &:not(.input-check) {
            top: 55px;
            font-size: 14px;
            color: $confirmation-color;
            transition: $default-transition;
            opacity: 0;
          }
        }

        mat-label {
          padding-left: 20px;
        }
      }

      small {
        position: absolute;
        top: 38px;
        left: 18px;
        font-size: 12px;
        color: $input-text-color;

        &.description-label {
          top: -22px;
          font-size: 14px;
          color: $base-text-color;
        }

        &.show-update-message {
          opacity: 1 !important;
        }
      }

      input {
        width: 83%;

        &:read-only {
          cursor: default;
        }
      }

      .hide-input-icon {
        display: none;
      }

      &:nth-of-type(2) {

        small {

          &.description-label {
            top: -22px;
          }
        }
      }
    }
  }

  .mat-form-field {
    background: rgba(29, 226, 217, 0.13);
    display: block;
    width: 100%;
    transition: all .2s linear !important;
    box-shadow: 1px 2px 5px -3px rgba(69, 76, 93, 0.75);
  }

  .mat-focused {
    transition: $default-transition;
    background: none;
    box-shadow: none;
  }

  .change-password {
    width: 95%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    color: $base-text-color;
    cursor: pointer;

    @include for-small-height {
      margin-bottom: 5px;
    }
  }

  .change-password-section {
    width: 100%;
    position: relative;
    transform: translateX(-400px) translateZ(0);
    transition: all .3s ease-in-out;

    form {

      mat-form-field {
        &:last-of-type {
          margin-top: 20px;
        }
      }

      button {
        top: 6px;
        cursor: pointer;
      }
    }
  }
}






